
.buttons {
  margin: 10px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image {
  width: 60%;
  height: 20%;
  margin-top: 300px;
  display: block;
  z-index: 0;
}
#separation {
  width: 60%;
  background-color: #000;
  border: solid white 3px;
}