
.buttons {
  margin: 10px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 60%;
  height: 20%;
  margin-top: 400px;
  display: block;
}