@import "../../mixin/navigation-draggable-mobile/navigation-draggable-mobile";
@include navigation-draggable-mobile;

.container {
  display: none;
}

.list {
  position: absolute;
  list-style: none;
  font-family: 'Lobster', cursive;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #fff;
}
li {
  z-index: 999;
}