@import "../../mixin/navigation-draggable-mobile/navigation-draggable-mobile";
@include navigation-draggable-mobile;

.container {
  display: none;
  position: absolute;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #fff;
}

.list {
  list-style: none;
  font-family: 'Lobster', cursive;
}