

#list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
