.container {
    width: 75%;
}

#list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    width: 90%;
    margin: auto auto 30px;
    border: black solid 1px;
    border-radius: 5px;
    background-color: #fff;
}
#listDark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    width: 90%;
    margin: auto auto 30px;
    border: white solid 1px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
