.frame {
  width: 40vw;
  margin: 15px;
  padding: 10px;
  border: solid white 5px;
  background-color: #000000;
}

.frameDark {
  width: 40vw;
  margin: 15px;
  padding: 10px;
  border: solid black 5px;
  background-color: #FFFFFF;
}

.videoTitle {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.videoTitleDark {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  color: white;
}