.frame {
  width: 40vw;
  margin: 20px;
}

.videoTitle {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.videoTitleDark {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  color: white;
}