@mixin navigation-mobile {
  @media screen and (max-width: 400px){
    #list {
      position: absolute;
      top: 250px;
      left: 150px;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      width: 35% !important;
      padding: 0 !important;
    }
    #listDark {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      width: 35% !important;
      padding: 0 !important;
    }
  }
}